<p>
  <%= f.label :japanese, t('japanese') %>
	<%= f.text_field :japanese, :size=>40 %>
</p>
<p>
  <%= f.label :katakana, t('hiragana') %>
	<%= f.text_field :katakana, :size=>40 %>
</p>
<p>
  <%= f.label :kanji, t('kanji') %>
	<%= f.text_field :kanji, :size=>40 %>
</p>
<p>
  <%= f.label :english, t('english') %>
	<%= f.text_field :english, :size=>40 %>
</p>
<p><%= f.submit label_text, :class=>"submit" %></p>
<%= set_focus_to_id 'kanji_japanese' %>

