<div class="form">
<%= error_messages_for :kanji %>

<fieldset>
<legend><%= t('kanjis.quiz') %></legend>
<% form_for :kanji, :url => check_kanji_path, :html => { :method => :get } do |f| %>		
<p>
  <label><strong><%= t('japanese') %>:</strong></label>
  <%= @question %>
</p>
<p>
	<%= f.label :answer, "Answer" %>
	<%= text_field_tag :answer %>
</p>
	<%= hidden_field_tag :correct_answer, @correct_answer %>
<!--
<p>
  <strong><%= t('katakana') %>:</strong>
  <%=h @answer %>
</p>
<p>
  <strong><%= t('kanji') %>:</strong>
  <%=h @kanji.kanji %>
</p>
<p>
  <strong><%= t('english') %>:</strong>
  <%=h @kanji.english %>
</p>
-->
<% end %>
<%= set_focus_to_id 'answer' %>

<div class="links">
  <%= link_to t('edit'), edit_kanji_path(@kanji), :class=>"link" %> |
  <%= link_to t('destroy'), @kanji, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %> |
  <%= link_to t('view_all'), kanjis_path, :class=>"link" %>
</div>

</fieldset>
</div>