<div id="list">
<h1><%= t('classrooms.listing') %></h1>

<table cellpadding="2" cellspacing="1">
	<% for classroom in @classrooms %>
		<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
			<td>
				<%=h classroom.name %>
			</td>
	    <td>
	    	<%= link_to t('show'), classroom, :class=>"grid" %>
	    	<%= link_to t('edit'), edit_classroom_path(classroom), :class=>"grid" %>
	    	<%= link_to t('delete'), classroom, :confirm => 'Are you sure?', :method => :delete, :class=>"grid" %>
	    </td>
  	</tr>
<% end %>
</table>

<br />

<%= link_to t('classrooms.new'), new_classroom_path, :class=>"link" %><br />
</div>