<p>
  <b><%= t('name') %>:</b>
  <%=h @classroom.name %>
</p>

<p>
  <b><%= t('address') %>:</b>
  <%=h @classroom.address %>
</p>

<p>
  <b><%= t('description') %>:</b>
  <%=h @classroom.description %>
</p>

<p>
  <b><%= t('inactive') %>:</b>
  <%=h @classroom.inactive %>
</p>

<p>
  <b><%= t('note') %>:</b>
  <%=h @classroom.note %>
</p>


<%= link_to t('edit'), edit_classroom_path(@classroom), :class=>"link" %> |
<%= link_to t('back'), classrooms_path, :class=>"link" %><br />
