<%= javascript_include_tag "check_answer_glossary.js" %>

<div class="form">
<fieldset class="form">
<legend class="form"><%= t('quiz') %></legend>
<div id="part"><%= @part_answer %></div>
<div id="correct" style="color: #efe;"><%= @correct_answer %></div>

<% form_for :glossary, :url => check_glossaries_path, :html => { :method => :put } do |f| %>
  <div id="question"><%= label_tag :answer, @question, :size=>40 %><br /></div>
  <%= text_field_tag :answer, nil, :class=>:focus, :size=>40 %>
  <%= hidden_field_tag :part_answer, @part_answer %>
  <%= f.submit "Check" %>
<% end %>

</fieldset>
</div>

<% if false %>
<%= javascript_include_tag "check_answer.js" %>

<div class="form">
<fieldset class="form">
<legend class="form"><%= t('quiz') %></legend>
<div id="japanese"><%= @glossary.japanese %></div>
<div id="question"><%= @question %></div>
<div id="part"><%= @part_answer %></div>
<div id="correct" style="color: #efe;"><%= @correct_answer %></div>
<% form_for :glossary, :url => check_glossary_path( @glossary ), :html => { :method => :put } do |f| %>
<p>
  <%# t('onyomi') %>
  <%# text_field_tag :question, nil, :id => 'question' %>
</p>
	<%= hidden_field_tag :question, @question %>
	<%= hidden_field_tag :glossary_id, @glossary.id %>
	<%= hidden_field_tag :start_index, @start_index %>
	<%= hidden_field_tag :end_index, @end_index %>
  <%= hidden_field_tag :part_answer, @part_answer %>
  <%= hidden_field_tag :kunyomi, @kunyomi %>
  <%= hidden_field_tag :word, @word %>
  <%= text_field_tag :answer, nil, :class=>:focus %>
  <%= f.submit "Next" %>
<% end %>
<div id="kanji">
</div>
</fieldset>
</div>

<% end %>
