<li>
	<% if !f.nil? && @comment == comment %>
		<label for="comment_comment" style="display:none">Comment</label>
		<%= f.text_area :comment, :value => @comment.comment.gsub("<br />", "\r\n") %>
		<%= f.submit t('update') %>
	<% else %>
		<%= image_tag avatar_mini_url( comment.user ) %>
		<div class="comment_container" id="comment_<%= comment.id %>">
			<div class="action_container">
				<div class="links">
		      <% if can? :edit, comment %>
		        <%= link_to t('edit'), :action => "edit_comment", :id => comment.id %>
		      <% end %>
		      <% if can? :destroy, comment %>
		        | <%= link_to t('delete'), comment, :confirm => 'Are you sure?', :method => :delete %>
		      <% end %>
				</div>
			</div>
			<%= link_to h( comment.user.name ), comment.user %>
			<%= Sanitize.clean( comment.comment, :elements => 'br' ) %><br />
			<div class="time_ago">
				<%= distance_of_time_in_words_to_now( comment.created_at ) %><%= t('ago') %>
			</div>
			<% if can?( :move_comment, comment.event ) && !@move_options.nil? %>
				<%- form_for :todo, :url => move_comment_event_path, :html => { :method => :get } do |f| -%>
					<div class="move_comment">
						<%= hidden_field_tag :description, comment.comment %>
						<%= hidden_field_tag :user_id, comment.user_id %>
						<%= hidden_field_tag :comment_id, comment.id %>
						<%= select_tag :move, options_for_select( @move_options ), :name => "move" %>
						<%= f.submit "Go!"%>
					</div>
				<%- end -%>
			<% end %>
		</div>
		<div class="clear"></div>
	<% end %>
</li>