<% if category == "全部の人" %>
  <% ppl = Person.find :all,
  :conditions => [ "tostring like (?)", "%"+searchtext+"%" ],
  :order => 'family_name_kana' %>
<% elsif category == "講師" %>
  <% ppl = Person.find :all,
  :conditions => [ "tostring like (?) and teachers.person_id = people.id", "%"+searchtext+"%" ],
  :include => "teacher",
  :order => 'family_name_kana' %>
<% elsif category == "受講生" %>
  <% ppl = Person.find( :all,
  :conditions => [ "tostring like (?) and students.person_id = people.id", "%"+searchtext+"%" ],
  :include => "student",
  :order => 'family_name_kana' ).reject{|e| e.name=="----------" || e.name.starts_with?( 'Move to' )} %>
<% end %>

<% if ppl.size > 0 %>
  <% form_tag edit_multiple_students_path do %>
		<table cellpadding="0" cellspacing="1">
		  <tr>
		    <td></td>
		    <td class="list-topics">名前</td>
		    <td class="list-topics">携帯電話</td>
		    <td class="list-topics">携帯アドレス</td>
		  </tr>
		  <% ppl.each do |person| %>
		    <% if person.gender == 1 %>
		      <tr valign="top" class="list-line-man">
		    <% else %>
		      <tr valign="top" class="list-line-woman">
		    <% end %>  
		    <td class="list-units"><%= check_box_tag "student_ids[]", person.student.id %></td>
		    <td class="list-units">
		    	<%= h person.family_name %> <%= h person.first_name %>
		    </td>
		    <td class="list-units">
		      <%= h person.mobile_phone %>
		    </td>
		    <td class="list-units">
		      <%= h person.mail_address_mobile %>
		    </td>
			  <td class="list-actions">
			    <% @status = person.teacher==nil ? "受講生" : "講師" %>
			    <%= link_to '見', edit_courses_students_path( :id => person.student ) %>
			    <%= link_to '変', edit_person_path(person, :status=>@status ) %>
			    <% if clearance?(1) %>
			      <%= link_to '消', person, :status=>@status, :confirm => 'Are you sure?', :method => :delete %>
			    <% end %>
			  </td>
		  </tr>
		<% end %>
		</table>
		<%= submit_tag "Edit" %>
	<% end %>
<% else %>
  No hits.
<% end %>