<div id="list">
<%= error_messages_for :person %>
<h1><%= t('listing') %><%= @category %></h1>

<% form_remote_tag :url => people_path, :method => :get do %>
<p>
	<label for="name"><%= t('name') %></label>
	<%= text_field_tag :name, params[:name] %>
	<%= submit_tag "Search" %>
<p>
<div class="blind" id="cell_blind" style="display:none">
	<p>
		<label for="mobile_no"><%= t('mobile_phone') %></label>
		<%= text_field_tag :mobile_no, params[:mobile_no] %>
	</p>
	<p>
		<label for="mobile_address"><%= t('mail_address_mobile') %></label>
		<%= text_field_tag :mobile_address, params[:mobile_address] %>
	</p>
</div>
<p>
	<div id="links">
		<span style="font-size: medium;">Sort by:</span>
		<%= order @search, :by => :first_name %> |
		<%= order @search, :by => :family_name %>
		<%= order @search, :by => :first_name_kana %> |
		<%= order @search, :by => :family_name_kana %>  			
	</div>
</p>
<% end %>

<p>
	<a class="link" href="" onclick="new Effect.BlindDown('cell_blind'); return false;">Advanced search</a>
</p>

<div id="search_hits">
	<%= render :partial => "list_people" %>
</div>

</div><br />

<div class="links">
<% if clearance < 3 %>
	<%= link_to t('teachers.new'), new_person_path( :status=> '講師' ), :class=>'link' %> | 
	<%= link_to t('students.new'), new_person_path( :status=>'受講生' ), :class=>'link' %><br />
<% end %>
</div>