<div id="list">
<%= error_messages_for :person %>
<h1><%= t('listing') %><%= @category %></h1>

<%= @testing %>
<table>
	<% form_for @search do |f| %>
		<tr>
	  	<td>
				<label for="name"><%= t('name') %></label>
				<%= text_field_tag :name %>
			</td>
			<td><%= f.submit "Search" %></td>
	  </tr>
		<tr>
	  	<td>
				<%= f.label :mobile_phone_like, t('mobile_phone') %>
				<%= f.text_field :mobile_phone_like, :size=>30 %>
			</td>
	  </tr>
		<tr>
	  	<td>
				<%= f.label :mail_address_mobile_like, t('mail_address_mobile') %>
				<%= f.text_field :mail_address_mobile_like, :size=>30 %>
			</td>
	  </tr>

	  <tr>
	  	
	  </tr>
	<% end %>
</table><br />
<div id="search_hits"></div>

<%= render :partial => "list_people" %>

</div>
<br />

<div class="links">
<% if clearance < 3 %>
	<%= link_to t('teachers.new'), new_person_path( :status=> '講師' ), :class=>'link' %> | 
	<%= link_to t('students.new'), new_person_path( :status=>'受講生' ), :class=>'link' %><br />
<% end %>
</div>