<div id="list">
<%= error_messages_for :person %>
<h1><%= t('listing') %><%= @category %></h1>


<% form_for @search, :url => people_path do |f| %>
<p>
  <%= f.label :tostring_like, t('name') %>
  <%= f.text_field :tostring_like, :size=>30 %>
  <%= f.submit "Search" %>
<p>
<div class="blind" id="cell_blind" style="display:none">
	<p>
	  <%= f.label :mobile_phone_like, t('mobile_phone') %>
	  <%= f.text_field :mobile_phone_like, :size=>30 %>
	</p>
	<p>
	  <%= f.label :mail_address_mobile_like, t('mail_address_mobile') %>
	  <%= f.text_field :mail_address_mobile_like, :size=>30 %>
	</p>
</div>
<p>
  <div id="links">
    <span style="font-size: medium;">Sort by:</span>
    <%= order @search, :by => :first_name %> |
    <%= order @search, :by => :family_name %>
    <%= order @search, :by => :first_name_kana %> |
    <%= order @search, :by => :family_name_kana %>
  </div>
</p>
<% end %>

<p>
  <a class="link" href="" onclick="new Effect.BlindDown('cell_blind'); return false;">Advanced search</a>
</p>

<div id="search_hits">
	<%= render :partial => "list_people" %>
</div>

</div><br />

<div class="links">
<% if clearance < 3 %>
	<%= link_to t('teachers.new'), new_person_path( :status=> '講師' ), :class=>'link' %> | 
	<%= link_to t('students.new'), new_person_path( :status=>'受講生' ), :class=>'link' %><br />
<% end %>
</div>