<div class="form">
<%= error_messages_for :person %>
<fieldset>
<legend><%= t('new') %> <%= params[:status]=="講師" ? t('teacher') : t('student') %></legend>
<% form_for(@person) do |f| %>
  <%= render :partial => "form", :locals => { :f=>f, :status=>params[:status], :label_text=>t('create') } %>
<% end %>

<%= link_to t('back'), @person.status==nil ? people_path : @person.status==1 ? teachers_path : students_path %>
</fieldset>
</div>