<div class="form">
<%= error_messages_for :student %>
<fieldset>
<legend><%= t('student') %> - <%= @student %></legend>
<table><tr>
<td>
  <strong><%= t('courses.title') %></strong>
	<% form_for :student, :url => update_courses_student_path( @student ), :html => { :method => :put } do |f| %>
		<p>
		  <%= render :partial=>"course" %>
		</p>
		<p>
		  <%= f.hidden_field :created_at %>
		  <%= f.submit t('update') %>
		</p>
	<% end %>
</td>
</tr></table>

<div class="links">
	<%= link_to t('info'), @student, :class=>"link" %> |
	<%= link_to t('reserve'), edit_klasses_student_path( @student ), :class=>"link" %>
</div>
</fieldset>
</div>