<div class="form">
<%= error_messages_for :student %>
<fieldset>
<legend><%= t('multi') %><%= t('edit') %><%= t('students.title') %></legend>

<% form_for :student, :url => update_multiple_students_path, :html => { :method => :put } do |f| %>		
	<table>
		<tr valign="top">
			<div class="courses">
				<%= render :partial => "people/show_multiple_courses",
				           :locals => { :update_param => "student[course_ids][]" } %>
			</div>
			<div class="students">
				<%= render :partial => "people/show_multiple_people",
				           :locals => { :people => @students,
				                        :update_param => "student_ids[]",
				                        :title => t('students.title') } %>
			</div>
		</tr>
	</table><br />
	<%= f.submit t('update') %>
<% end %>


</fieldset>
</div>