<div class="form">
<%= error_messages_for :student %>
<fieldset>
<legend><%= t('reserve') %> - <%= @student %></legend>
<table><tr>
<% if clearance <=2 %>
<td valign="top" width="80">
  <%= render :partial=>"show_courses", :locals=>{ :add_enter=>false	 } %>
</td>
<% end %>
<div class="classes">
<td>
  <strong><%= t('klasses.title') %></strong>
	<% form_for :student, :url => update_klasses_student_path( @student ), :html => { :method => :put } do |f| %>
		<p>
		  <% @klass_groups.sort.each do |day,klass_group| %>
        <%= render :partial => "edit_klass_group", :locals => { :klass_group=>klass_group } %>
		  <% end %>
		</p>
		<p>
		  <%= f.hidden_field :created_at %>
		  <%= f.submit t('reserve') %>
		</p>		
  <% end %>
</td>
</div>
<div class="history">
</div>
</tr></table>

<br/>

<div class="links">
	<%= link_to t('info'), @student %>
	<% if clearance?(3) %>
		| <%= link_to t('courses.title'), edit_courses_student_path( @student ) %>
	<% end %>
</div>
</fieldset>
</div>