<div id="list">
<h1>Listing Students</h1>

<table cellpadding="0" cellspacing="1">
  <tr>
    <td class="list-topics"></td>
    <td class="list-topics">名前</td>
    <td class="list-topics">携帯電話</td>
    <td class="list-topics">携帯アドレス</td>
  </tr>
<% Student.all.each do |student| %>
  <% person = Person.find( :all, :conditions=>[ "id = ?", student.person_id ])[0] %>
  <tr valign="top" class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>">
     <% if person.gender == 1 %>
       <td class="list-units" bgcolor="blue">
     <% else %>
       <td class="list-units" bgcolor="red">
     <% end %>  
     </td>
     <td class="list-units">
    	<%= h person.family_name %> <%= h person.first_name %>
    </td>
    <td class="list-units">
      <%= h person.mobile_phone %>
    </td>
    <td class="list-units">
      <%= h person.mail_address_mobile %>
    </td>
	  <td class="list-actions">
	    <%= link_to 'Show', person %>
	    <%= link_to 'Edit', edit_person_path(person) %>
	    <%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %>
	  </td>
  </tr>
<% end %>
</table>


<br />
<br />


<table cellpadding="0" cellspacing="0">
  <tr>
    <td class="list-topics">名前</td>
    <td class="list-topics">携帯電話</td>
    <td class="list-topics">携帯アドレス</td>
  </tr>
	<% Student.all.each do |student| %>
	  <% person = Person.find( :all, :conditions=>[ "id = ?", student.person_id ])[0] %>
     <% if person.gender == 1 %>
       <tr valign="top" class="list-line-man">
     <% else %>
       <tr valign="top" class="list-line-woman">
     <% end %>  
     <td class="list-units">

    	<%= h person.family_name %> <%= h person.first_name %>
    </td>
    <td class="list-units">
      <%= h person.mobile_phone %>
    </td>
    <td class="list-units">
      <%= h person.mail_address_mobile %>
    </td>
	  <td class="list-actions">
	    <%= link_to 'Show', person %>
	    <%= link_to 'Edit', edit_person_path(person) %>
	    <%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %>
	  </td>
  </tr>
<% end %>
</table>


</div>
<br />

<%= link_to 'New student', new_student_path %>  