<div class="form">
<%= error_messages_for :student %>
<fieldset>
<legend><%= t('info') %> - <%= @student %></legend>
<table><tr>
<% if clearance <= 3 %>
	<td valign="top" width="100">
	  <%= render :partial=>"show_courses", :locals=>{ :add_enter=>false } %>
	</td>
<% end %>	
<td valign="top">
  <%= render :partial=>"show_klasses" %>
</td>
</tr></table>

<br />

<div class="links">
	<% if clearance <=2 %>
		<%= link_to t('courses.title'), edit_courses_student_path( @student ) %> |
	<% end %>
	<% unless clearance == 3 %>
		<%= link_to t('reserve'), edit_klasses_student_path( @student ) %>
	<% end %>
</div>

</fieldset>
</div>