<% f.inputs do %>
	<%= f.input :recipient, :label => t( 'recipient' ) %>
	<%= f.input :sender, :label => t( 'sender' ) %>
	<%= f.input :subject, :label => t( 'subject' ) %>
	<%= f.input :message, :label => t( 'mail_message' ) %>
	<span class="horizontal"><%= f.input :read, :label => t( 'read' ), :as => :radio %></span>
<% end %>
<% f.buttons do %>
	<%= f.commit_button label_text %>
<% end %>