<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
  	<td <%= mail.read ? "" : 'class="non-read"' %>><%= link_to( h( mail.recipient ), mail.recipient ) %></td>
  	<td <%= mail.read ? "" : 'class="non-read"' %>><%= link_to( h( mail.sender ), mail.sender ) %></td>
  	<td <%= mail.read ? "" : 'class="non-read"' %>><%= mail.subject.split('#').size > 1 ? link_to( t( h( mail.subject.split('#')[0] ), :object=>t( h( mail.subject.split('#')[1] ))), mail ) : mail.subject=="no_subject" ? link_to( t( h( mail.subject )), mail ) : link_to( h( mail.subject ), mail ) %></td>
  	<td <%= mail.read ? "" : 'class="non-read"' %>><%= distance_of_time_in_words_to_now( mail.created_at ) %><%= t('ago') %></td>
	<td id="links" <%= mail.read ? "" : 'class="non-read"' %>>
			<%= link_to t('show'), mail, :class=>"link" %>
			<%= link_to t('edit'), edit_mail_path(mail), :class=>"link" %>
			<%= link_to t('destroy'), mail, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
	</td>    	
</tr>