<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
	<td <%= recipient.read ? "" : 'class="non-read"' %>><%= link_to( h( recipient.mail.sender ), recipient.mail.sender ) %></td>
	<td <%= recipient.read ? "" : 'class="non-read"' %>><%= recipient.mail.subject.split('#').size > 1 ? link_to( t( h( recipient.mail.subject.split('#')[0] ), :object=>t( h( recipient.mail.subject.split('#')[1] ))), mail_path( recipient.mail, :read => true )) : recipient.mail.subject=="no_subject" ? link_to( t( h( recipient.mail.subject )), mail_path( recipient.mail, :read => true )) : link_to( h( recipient.mail.subject ), mail_path( recipient.mail, :read => true )) %></td>
	<td <%= recipient.read ? "" : 'class="non-read"' %>><%= distance_of_time_in_words_to_now( recipient.mail.created_at ) %><%= t('ago') %></td>
</tr>