<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
	<td <%= private_mail.read ? "" : 'class="non-read"' %>><%= link_to( h( private_mail.sender ), private_mail.sender ) %></td>
	<td <%= private_mail.read ? "" : 'class="non-read"' %>><%= link_to( t( h( private_mail.subject.split('#')[0] ), :object=>t( h( private_mail.subject.split('#')[1] ))), mail_path( private_mail, :read => true )) %></td>
	<td <%= private_mail.read ? "" : 'class="non-read"' %>><%= distance_of_time_in_words_to_now( private_mail.created_at ) %><%= t('ago') %></td>
</tr>