<div class="form">
<fieldset class="form">
<legend class="form"><%= t(:editing,:object=>t(:mail)) %></legend>

<div class="intro">
	<%= t('message.asterisk') %>
</div>

<%- semantic_form_for @mail do |f| -%>
	<% f.inputs do %>
		<%= f.input :users, :label => t( 'recipient' ), :as => :check_boxes %>
		<%= f.input :sender, :label => t( 'sender' ) %>
		<%= f.input :subject, :label => t( 'subject' ), :required => false %>
		<%= f.input :message, :label => t( 'mail_message' ), :required => false %>
	<% end %>
	<fieldset class="buttons">
		<%= submit_tag t(:update), :name => 'mail[mailing]' %>
	</fieldset>
<%- end -%>

<div id="links">
	<% if can? :show, @mail %>
		<%= link_to t('show'), @mail %>
	<% end %>
	<% if can? :box, @mail %>
	  <%= link_to t(:mailbox), box_mails_path %>
	<% end %>	
	<% if can? :index, Mail %>
	  <%= link_to t(:list,:object=>t('mails.title')), mails_path %>
	<% end %>
  <% if can? :destroy, @mail %>
  	<%= link_to t(:delete), @mail, :confirm => t(:sure?), :method => :delete %>
  <% end %>	
</div>

</fieldset>
</div>