<div class="form">
<fieldset class="form">
<legend class="form"><%= t(:new, :object=>t(:mail)) %></legend>

<%- semantic_form_for @mail do |f| -%>
	<% f.inputs do %>
		<%= f.input :recipient, :label => t( 'recipient' ), :collection => @recipients %>
		<%= f.input :subject, :label => t( 'subject' ), :required => false %>
		<%= f.input :message, :label => t( 'mail_message' ), :required => false %>
		<%= f.input :sender_id, :as => :hidden %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:send) %>
	<% end %>
<%- end -%>

<div class="links">
	<% if can? :box, Mail %>
		<%= link_to t(:mailbox), box_mails_path %>
	<% end %>
	<% if can? :index, Mail %>
		<%= link_to t(:list, :object=>t('mails.title')), mails_path %>
	<% end %>
</div>

</fieldset>
</div>