<div class="form">
<fieldset class="form">
<legend class="form"><%= t(:new, :object=>t(:mail)) %></legend>

<div class="intro">
	<%= t('message.asterisk') %>
</div>

<%- semantic_form_for @mail do |f| -%>
	<% f.inputs do %>
		<%= f.input :users, :label => t( 'recipient' ), :as => :check_boxes %>
		<%= f.input :subject, :label => t( 'subject' ), :required => false %>
		<%= f.input :message, :label => t( 'mail_message' ), :required => false %>
		<%= f.input :sender_id, :as => :hidden %>
	<% end %>
	<fieldset class="buttons">
		<%= submit_tag t(:send), :name => 'mail[mailing]' %>
	</fieldset>
<%- end -%>

<div id="links">
	<% if can? :box, Mail %>
		<%= link_to t(:mailbox), box_mails_path %>
	<% end %>
	<% if can? :index, Mail %>
		<%= link_to t(:list, :object=>t('mails.title')), mails_path %>
	<% end %>
</div>

</fieldset>
</div>