<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" id="registrant_<%= registrant.id %>">
	<td><%=t registrant.user.occupation %></td>
	<td><%=h registrant.user.name %></td>
	<td><%=h registrant.user.name_hurigana %></td>
	<td><%= registrant.user.male ? t(:male) : t(:female) %></td>
	<td><%=t registrant.user.age %></td>
	<td><%=h registrant.user.nationality %></td>
	<td><%=h registrant.user.tel %></td>
	<td><%=h registrant.user.email %></td>
	<td><%=h registrant.note %></td>
	<td>
		<%= link_to t('show'), registrant, :class=>"link" %>
		<%= link_to t('edit'), edit_registrant_path(registrant), :class=>"link" %>
		<%= link_to t('delete'), registrant, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
	</td>  
</tr>