<fieldset class="intro">
<legend><%= t(:reserve_history) %></legend>
<div id="reserve_history">
<% unless @attendance_history.empty? %>
  <h2><%= t('header.class_history') %></h2>
  <ul>
    <% @attendance_history.each do |attendance| %>
      <% if attendance.absent || attendance.cancel %>
        <% if can? :edit, attendance %>
          <li <%= attendance.class_attributes %>><%= attendance.klass.name %></li>
        <% end %>
      <% else %>
       <li><%= attendance.klass.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</div>
</fieldset>
