<fieldset class="intro">
<legend><%= t(:reserve) %></legend>
<div id="reservable">
<% if @reservable_klasses.empty? %>
<%= t('message.no_reservations_today') %>
<% else %>
<h2><%= t('header.classes_to_reserve') %></h2>
<% semantic_form_for @user, :url => update_reserve_user_path( @user ), :method => :put do |f| %>
  <% f.inputs do %>
    <%= f.input :student_klasses, :as=>:check_boxes, :label=>false,
                :collection => @reservable_klasses, :required=>false %>
    <%= hidden_field_tag :saturday, @saturday %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button t(:reserve) %>
  <% end %>
  <%= t('message.time_for_reservation') %>
<% end %>
<% end %>
</div>
</fieldset>
