<% form_tag edit_multiple_teachings_path do %>
	<div id="user_<%= teacher.id %>" style="margin-bottom:0.5em;">
	<h1><%= teacher %></h1>
	<table id="<%= teacher.username %>" class="salary">
		<% total = 0 %>
		<% teacher.teachings.between_dates(@start_date,@end_date).confirmed.current.not_canceled.each do |teaching| %>
		<tr class="<%= teaching.status?(:taught) ? '' : 'italic' %>" id="teaching_<%= teaching.id %>">
			<td><%= label_tag "teaching_ids[]", "" %><%= check_box_tag "teaching_ids[]", teaching.id %></td>
			<td class="<%= teaching.status?(:taught) ? 'bold' : '' %>"><%= teaching.cost+"円" %></td>
			<td><%= teaching.date_short %></td>
			<td><%= teaching.course %></td>
			<td><%= teaching.japanese_time_interval %></td>
			<td><%= teaching.status?(:taught) ? 'O' : 'X' %></td>
			<td><%= link_to t(:edit), edit_teaching_path( teaching ) %></td>
			<% total += teaching.cost.to_i if teaching.status?(:taught) %>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td id="total" class="bold"><%= "#{total.to_s}円" unless total==0 %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<%= submit_tag t(:multi_edit) %>
</div>
<% end %>