<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" id="user_<%= user.id %>">
	<td><%= label_tag "user_ids[]", "" %><%= check_box_tag "user_ids[]", user.id %></td>
	<td><%=h user.username %></td>
	<td><%=h user.name %></td>
	<td><%=h user.name_hurigana %></td>
	<td><%=h user.email %></td>	
	<td><%=h user.tel %></td>
	<td id="links">
		<% if can? :show, user %>
	  	<%= link_to t('show'), user %>
	  <% end %>
		<% if can? :edit, user %>
	  	<%= link_to t('edit'), edit_user_path(user) %>
	  <% end %>
		<% if can? :edit_role, user %>
	  	<%= link_to t(:role), edit_role_user_path( user ) %>
	  <% end %>
		<% if can?(:edit_courses, user) && @status!="all"%>
	  	<%= link_to t('courses.title'), edit_courses_user_path( user, :status=>@status ) %>
	  <% end %>	  
		<% if can? :destroy, user %>
	  	<%= link_to t('delete'), user, :confirm => 'Are you sure?', :method => :delete %>
	  <% end %>
	  <% if @status=="teacher" %>
		  <%= link_to image_tag("weekly_mail.gif", :title => "Weekly Mail", :alt => "Weekly Mail"), mailer_path %>
		  <%= link_to image_tag("daily_mail.gif", :title => "Daily Mail", :alt => "Daily Mail"), mailer_path %>
		<% end %>
	</td>  
</tr>