<div class="show">
<fieldset class="show">
<legend><%= @user.name %></legend>
<% if !@user.role? :student %>
  <%= t("message.no_student",:name=>@user.name) %>
<% else %>
<%= render "reserve_top_links" %>
<fieldset class="intro">
<legend><%= t(:already_reserved) %></legend>
<div id="already_reserved">

<%= render "date_menu", :path=>already_reserved_user_path(@user) if can? :edit_time, User %>

<% unless @attendances.empty? %>
  <ul>
    <% @attendances.each do |attendance| %>
      <% if attendance.cancel %>
        <% if can? :edit, attendance %>
          <li class="cancel"><%= attendance.klass.name %></li>
        <% end %>
      <% else %>
        <li><%= attendance.klass.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</div>
</fieldset>
<% end %>

</fieldset>
</div>
