<div class="show">
<fieldset class="show">
<legend class="show"><%= @user.name %></legend>

<% if !@user.role? :teacher %>
  <%= t("message.no_teacher",:name=>@user.name) %>
<% else %>
<%= render "confirm_top_links" %>
<fieldset class="intro">
<legend class="show"><%= t(:already_confirmed) %></legend>
<div id="already_confirmed">

  <%= render "date_menu", :path => already_confirmed_user_path(@user) if can? :edit_time, User %>

  <% unless @klasses.empty? %>
    <ul>
      <% @klasses.each do |klass| %>
	<li><%= klass.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
</fieldset>
<% end %>

</fieldset>
</div>
