<div class="form">
<fieldset class="form">
<legend class="form"><%= t( :confirm ) %></legend>

<div class="intro">
<% if @confirmable_klasses.empty? %>
<%= t('message.no_confirmations') %>
<% else %>
<div class="confirmable">
<h2><%= t('header.classes_to_confirm') %></h2>
<% semantic_form_for @user do |f| %>
	<% f.inputs do %>
		<% @confirmable_klasses.map(&:teaching).each do |teaching| %>
			<% f.inputs :for => [:teachings, teaching] do |builder| %>
				<%= builder.input :klass, :as => :string, :input_html => { :disabled => true }, :label => false %>
				<%= builder.input :confirm, :label => false, :as => :check_boxes, :collection => [['',:confirm]] %>
			<% end %>
		<% end %>
		<%# f.input :teacher_klasses, :as=>:check_boxes, :label=>false,
								:collection => @confirmable_klasses, :required=>false %>
		<%# @reserved_klasses.map{|klass| hidden_field_tag "user[student_klass_ids][]", klass.id} %>
		<%# @class_history.map{|klass| hidden_field_tag "user[student_klass_ids][]", klass.id} %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:confirm) %>
	<% end %>
<% end %>
</div>
<% end %>
</div>

<% unless @confirmed_klasses.empty? %>
<div class="confirmed">
<h2><%= t('header.already_confirmed_classes') %></h2>
<ul>
<% @confirmed_klasses.each do |klass| %>
	<li><%= klass.name %></li>
<% end %>
</ul>
</div>
<% end %>

<% unless @teaching_history.empty? %>
<div class="taught">
<h2><%= t('header.teaching_history') %></h2>
<ul>
<% @teaching_history.each do |klass| %>
	<li><%= klass.name %></li>
<% end %>
</ul>
</div>
<% end %>

<div id="links">
</div>

</fieldset>
</div>