<div class="show">
<fieldset class="show">
<legend class="show"><%= @user.name %></legend>

<% if !@user.role? :teacher %>
  <%= t("message.no_teacher",:name=>@user.name) %>
<% else %>
<%= render "confirm_top_links" %>
<fieldset class="intro">
<legend class="show"><%= t(:confirm) %></legend>
  <div id="confirmable">
  <% if @klasses.empty? %>
    <%= t('message.no_confirmations') %>
  <% else %>
    <div class="confirmable">
      <div style="width:3em;float:left;text-align:right;">Yes</div>
      <div style="width:3em;float:left;margin-left:0.3em;">No</div>
      <div class="clear"></div>
      <% semantic_form_for @user, :url => update_confirm_user_path( @user ), :method => :put do |f| %>
        <% f.inputs do %>
        <%= hidden_field_tag :saturday, @saturday %>
          <% @klasses.map(&:teaching).each do |teaching| %>
            <% f.inputs :for => [:teachings, teaching] do |builder| %>
              <span id="klass"><%= teaching.klass unless teaching.nil?
              %></span>
              <%= builder.input :confirm, :label => false, :as => :radio, :collection => [['','confirmed'],['','declined']] %>				
	    <% end %>
          <% end %>
        <% end %>
        <% f.buttons do %>
          <%= f.commit_button t(:confirm) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</fieldset>
<% end %>

</fieldset>
</div>
