<div class="form">
<fieldset class="form">
<legend class="form"><%= t(:enlisted_courses,:status=>@status.capitalize) %> - <%= @user %></legend>

<% semantic_form_for @user do |f| %>
	<% f.inputs do %>
		<%= hidden_field_tag :status, @status %>
		<%= f.input :student_courses, :as=>:check_boxes, :label=>false, :collection=>@courses if @status=="student" %>
		<% if @status=="teacher" %>
			<% @courses.each do |course| %>
				<% f.inputs :for => [:courses_teachers, @user.courses_teachers.select{|e| e.course == course}] do |f2| %>
					<%= f2.input :course_id, :as => :hidden %>
					<%= f2.input :chosen, :label => " ", :required => false %>
					<%= f2.input :course, :label => false, :as=>:string, :input_html=>{:disabled=>true} %>
					<%= f2.input :cost, :label => t(:yen_h) %>
				<% end %>
			<% end %>
		<% end %>
		<%# f.input :teacher_courses, :as=>:check_boxes, :label=>false, :collection=>@courses  %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:update) %>
	<% end %>
<% end %>

<div id="links">
</div>

</fieldset>
</div>