<div class="form">
<fieldset class="form">
<legend class="form"><%= t( :editing_multiple, :object=>t(:user)) %></legend>

<% semantic_form_for :user, :url => update_multiple_users_path do |f| %>
	<%= @users.join(", ") %>
	<% f.inputs do %>
		<ul>
			<% @users.each do |user| %>
				<li>
					<%= hidden_field_tag "user_ids[]", user.id %>
				</li>
			<% end %>
		</ul>
		<%= f.input :student_course_ids, :as=>:check_boxes, :label=>false, :collection=>@courses if @commit == t(:student_courses) %>
		<%= f.input :teacher_course_ids, :as=>:check_boxes, :label=>false, :collection=>@courses if @commit == t(:teacher_courses) %>
		
		<%= f.input :roles, :as=>:check_boxes, :label=>false, :collection=>User::ROLES[1,User::ROLES.length-1] if @commit == t(:roles) %>

		<%# hidden_field_tag "user[roles][]", "" %>
		
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:update) %>
	<% end %>			

  <%# render :partial=>"form", :locals => { :f=>f, :label_text => t('create'), :klass_date=>@klass_date } %>
  <%# render :partial=>"form", :locals=>{ :f=>f, :label_text => 'update' } %>
<% end %>

</fieldset>
</div>