<div class="form">
<fieldset>
<legend><%= t('users.editing') %></legend>

<% semantic_form_for @user, :html => { :multipart => true } do |f| %>
	<% f.inputs do %>
		<%= f.input :name, :label => t( :name ) %>
		<%= f.input :name_hurigana, :label => t( 'name_hurigana' ) %>
		<%= f.input :nationality, :label => t( 'nationality' ) %>
		<%= f.input :male, :label => t( 'gender' ), :as => :radio, :collection => [[t('male'), true],[t('female'), false]] %>
		<%= f.input :age, :label => t( 'age' ), :as => :select, :collection => japanese? ? Registrant::AGE_JA : Registrant::AGE_EN, :required => false, :include_blank => ( @user.age.blank? ? true : false ) %>
		<%= f.input :tel, :label => t( 'tel' ), :required => false %>
		<%= f.input :email, :label => t( :email ) %>
		<%= f.input :occupation, :label => t( 'occupation' ), :as => :select, :collection => japanese? ? Registrant::OCCUPATIONS_JA : Registrant::OCCUPATIONS_EN, :include_blank => ( @user.occupation.blank? ? true : false ), :required => false %>
		<% if current_user2 %>
			<%= f.input :role, :label => t( :role ), :input_html => { :disabled => true } %>
		<% else %>
			<%= f.input :role, :as => :hidden, :value => 'registrant' %>
		<% end %>
		<hr>
		<%= f.input :username, :label => t( :user_name ), :input_html => { :disabled => true } %>
		<%= f.input :password, :label => t( :password ) %>
		<%= f.input :password_confirmation, :label => t( :password_confirmation ) %>
		<hr>
		<%= f.input :language, :label => t( :language ), :as => :select, :collection => ( japanese? ? User::LANGUAGES_JA : User::LANGUAGES_EN ), :include_blank => false %>
		<%= f.input :avatar, :label => t( :avatar ) %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t('update') %>
	<% end %>
<% end %>

<div class="links">
</div>

</fieldset>
</div>