<div class="form">
<fieldset class="form">
<legend class="form"><%= t( 'users.registration_for', :event => @event.title( japanese? ) ) %></legend>

<% semantic_form_for @user, :url => :create_event_register_user do |f| %>
	<% f.inputs do %>
		<%= f.input :occupation, :label => t( 'occupation' ), :as => :select, :collection => japanese? ? Registrant::OCCUPATIONS_JA : Registrant::OCCUPATIONS_EN %>
		<%= f.input :name, :label => t( 'name' ) %>
	<% if japanese? %>
		<%= f.input :name_hurigana, :label => t( 'name_hurigana' ) %>
	<% else %>
		<%= f.input :nationality, :label => t( 'nationality' ) %>
	<% end %>	
		<%= f.input :male, :label => t( 'gender' ), :as => :radio, :collection => [[t('male'), true],[t('female'), false]] %>
		<%= f.input :age, :label => t( 'age' ), :as => :select, :collection => japanese? ? Registrant::AGE_JA : Registrant::AGE_EN %>
		<%= f.input :tel, :label => t( 'tel' ) %>
		<%= f.input :email, :label => t( 'email' ) %>
		<hr>
		<% fields_for "user[new_registrant_attributes][]", Registrant.new(:event_id=>@event.id, :user_id=>current_user2.id) do |reg| %>
			<li class="text">
				<%= reg.label :note, t('note') %>
			  <%= reg.text_area :note, :cols => 21 %>
			</li>
			<p>
			  <%= reg.hidden_field :user_id %>
			  <%= reg.hidden_field :event_id %>
			</p>
    <% end %>		
	<% end %>
	<%= hidden_field_tag :event_id, @event.id %>
	<fieldset class="buttons">
		<%= submit_tag t( 'apply' ), :name => 'user[christmas]', :class => :submit %>
	</fieldset>
<% end %>

<div class="links">
</div>

</fieldset>
</div>