<div class="form">
<fieldset class="form">
<legend class="form"><%= @user.name %> - <%= t( :reserve ) %></legend>

<div class="intro">
<% if @reservable_klasses.empty? %>
<%= t('message.no_reservations_today') %>
<% else %>
<div class="reservable">
<h2><%= t('header.classes_to_reserve') %></h2>
<% semantic_form_for @user, :url => update_reserve_user_path( @user ), :method => :put do |f| %>
	<% f.inputs do %>
		<%= f.input :student_klasses, :as=>:check_boxes, :label=>false,
								:collection => @reservable_klasses, :required=>false %>
		<%# @reserved_klasses.map{|klass| hidden_field_tag "user[student_klass_ids][]", klass.id} %>
		<%# @class_history.map{|klass| hidden_field_tag "user[student_klass_ids][]", klass.id} %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:reserve) %>
	<% end %>
	<%= t('message.time_for_reservation') %>
<% end %>
</div>
<% end %>
</div>

<% unless @reserved_attendances.empty? %>
<div class="reserved">
<h2><%= t('header.already_reserved_classes') %></h2>
<ul>
<% @reserved_attendances.each do |attendance| %>
	<% if attendance.cancel %>
		<% if can? :edit, attendance %>
			<li class="cancel"><%= attendance.klass.name %></li>
		<% end %>
	<% else %>
		<li><%= attendance.klass.name %></li>
	<% end %>
<% end %>
</ul>
</div>
<% end %>

<% unless @attendance_history.empty? %>
<div class="history">
<h2><%= t('header.class_history') %></h2>
<ul>
<% @attendance_history.each do |attendance| %>
	<li <%= attendance.class_attributes if can? :edit, attendance %>><%= attendance.klass.name %></li>
<% end %>
</ul>
</div>
<% end %>

<div id="links">
</div>

</fieldset>
</div>