<div class="show">
<fieldset class="show">
<legend><%= @user.name %></legend>
<% if !@user.role? :student %>
  <%= t("message.no_student",:name=>@user.name) %>
<% else %>
<%= render "reserve_top_links" %>
<fieldset class="intro">
<legend><%= t(:reserve) %></legend>
<div id="reservable">
<p>
<% form_for :user, :url=>reserve_user_path(@user), :html=>{:method=>:get} do |f| %>
  <% if can?( :edit_role, User ) && !Klass.first.nil? %>
    <label for="saturday">Week</label>
    <%= select_tag :saturday, options_for_select( @weeks, @saturday ) %>
    <%= f.submit "Go!", :name => "reserve" %>
  <%- end -%>
<% end %>
</p>
<% if @klasses.empty? %>
  <%= t('message.no_reservations_today') %>
<% else %>
<% semantic_form_for @user, :url=>update_reserve_user_path(@user), :method=>:put do |f| %>
  <% f.inputs do %>
    <%= f.input :student_klasses, :as=>:check_boxes, :label=>false,
                :collection => @klasses, :required=>false %>
    <%= hidden_field_tag :saturday, @saturday %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button t(:reserve) %>
  <% end %>
  <%= t('message.time_for_reservation') %>
<% end %>
<% end %>
</div>
</fieldset>
<% end %>

</fieldset>
</div>
