<div class="show">
<fieldset class="show">
<legend><%= t(:salary) %></legend>

<% form_for :user, :url => { :action=>'salary' }, :html => { :method=>'get' } do |f| %>
  <label for="salary_month"><%= t(:month) %>: </label>
  <%= select_tag :salary_month, options_for_select( @months, @salary_month.to_i ) %>
  <span id="day"></span>
  <%= f.submit "Go!"%>
<% end %>
<br />

<% @teachers.each do |teacher| %>
	<div id="user_<%= teacher.id %>" style="margin-bottom:0.5em;">
		<h1><%= teacher %></h1>
		<ul>
			<% total = 0 %>
			<% teacher.teachings.between_dates(@start_date,@end_date).confirmed.current.each do |teaching| %>
				<% if teaching.status? :taught %>
					<li><b><%= teaching.cost+"円" %></b> - <%= teaching %></li>
					<% total += teaching.cost.to_i %>
				<% elsif !teaching.status? :canceled %>
					<li><i><%= teaching.cost+"円" %> - <%= teaching %> (<%= t(:not_confirmed) %>)</li></i>
				<% end %>
			<% end %>
			<b><%= total.to_s+"円 (total)" unless total==0 %></b>
		</ul>
	</div>
<% end %>

</fieldset>
</div>