<p>
  <%= f.label :course_id, t('course') %>
	<%= f.collection_select :course_id,
				@courses, :id, :name,
		    :include_blank => true %>
</p>
<% unless label_text == t('create') %>
  <p>
    <%= submit_tag t('scheduled_units.update'), :id => t('scheduled_units.update').gsub(/ /, '_'), :class => :submit %>
  </p>
<% end %>
<% unless @scheduled_units.empty? %>
<table><tr>
<td>
	<table cellpadding="2" cellspacing="1">
		<%= render :partial=>"unit", :collection => @scheduled_units[0..units_per_schedule/2-1] %>
	</table>
</td>
<td>
	<table cellpadding="2" cellspacing="1">
		<%= render :partial=>"unit", :collection => @scheduled_units[units_per_schedule/2..units_per_schedule-1] %>
	</table>
</td>
</tr></table>
<p>
<% end %>
  <%= f.label :description, t('description') %>
 	<%= f.text_area :description, :rows=>8, :cols=>27 %>
</p>
<p>
  <%= f.label :note, t('note') %>
 	<%= f.text_area :note, :rows=>8, :cols=>27 %>
</p>
<p><%= f.submit label_text, :class=>"submit" %></p>

