<div id="list" class="list">
<h1><%= t('schedules.title') %></h1>

<table cellpadding="2" cellspacing="1">
	<tr>
			<th class="list-topics"><%= t('course') %></th>		
			<th class="list-topics"><%= t('description') %></th>		
			<th class="list-topics"><%= t('note') %></th>		
	</tr>
	<% for schedule in @schedules %>
		<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
      	<td><%=h schedule.course.name %></td>
      	<td><%=h schedule.description %></td>
      	<td><%=h schedule.note %></td>
  		<td class="<%= schedule.course.name.gsub( / /,'_' ) %>">
    			<%= link_to t('show'), schedule, :class=>"link" %>
    			<%= link_to t('edit'), edit_schedule_path(schedule), :class=>"link" %>
    			<%= link_to t('destroy'), schedule, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
			</td>    	
		</tr>
	<% end %>
</table>

<div class="links">
<p><%= link_to t('schedules.new'), new_schedule_path, :class=>"link" %></p>
</div>
</div>
