<h1><%= t('info') %> - Schedule</h1>

<p>
  <strong><%= t('course_id') %>:</strong>
  <%=h @schedule.course_id %>
</p>
<p>
  <strong><%= t('description') %>:</strong>
  <%=h @schedule.description %>
</p>
<p>
  <strong><%= t('note') %>:</strong>
  <%=h @schedule.note %>
</p>

<div class="links">
  <%= link_to t('edit'), edit_schedule_path(@schedule), :class=>"link" %> |
  <%= link_to t('destroy'), @schedule, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %> |
  <%= link_to t('view_all'), schedules_path, :class=>"link" %>
</div>
