<li <% if Comment.first == comment %>class="first"<% end %>>
	<%= image_tag avatar_mini_url( comment.user ) %>
	<div class="event_comment_container">
		<%= link_to h( comment.user.name ), comment.user %>
		<%= h comment.comment %><br />
		<div class="time_ago">
			<%= distance_of_time_in_words_to_now( comment.created_at ) %><%= t('ago') %>
		</div>
	</div>
	<div class="clear"></div>
</li>