<li <% if Comment.last == comment %>class="last"<% end %>>
	<%= image_tag avatar_mini_url( comment.user ) %>
	<div class="event_comment_container" id="comment_<%= comment.id %>">
		<div class="action_container">
			<div class="links">
	      <% if permitted_to? :edit, comment %>
	        <%= link_to t('edit'), edit_comment_path( comment ) %>
	      <% end %>
	      <% if permitted_to? :destroy, comment %>
	        | <%= link_to t('delete'), comment, :confirm => 'Are you sure?', :method => :delete %>
	      <% end %>
			</div>
			<div class="move_comment">
				<%= link_to "move", new_todo_path( :description => comment.comment, :user_id => comment.user_id, :comment_id => comment.id ) %>
			</div>
		</div>
		<%= link_to h( comment.user.name ), comment.user %>
		<%= Sanitize.clean( comment.comment, :elements => 'br' ) %><br />
		<div class="time_ago">
			<%= distance_of_time_in_words_to_now( comment.created_at ) %><%= t('ago') %>
		</div>
	</div>
	<div class="clear"></div>
</li>