<% content_for(:head) do %>
<style>
textarea#comment_comment{
  background: url(<%= @setting.subdomain%><%= avatar_mini_url( @comment.user ) %>) no-repeat;
  background-color: white;
  background-position: 0 50%;
  padding-left: 45px;
	width:430px;
  height:46px;
	font-size:12px;
	font-family: sans-serif;
	resize:none;
}
</style>
<% end %>
<div class="show">
<fieldset class="show">
<legend class="show"><%=h @event.title( japanese? ) %> - <%=h @event.date %></legend>

<br />
<table class="intro">
	<tr>
		<td>
			<%=h @event.description( japanese? ) %>
		</td>
	</tr>
</table>

<fieldset class="gallery">
<legend><%= link_to t('gallery'), @event.gallery %></legend>
	<%= @event.gallery.photos.map{|e| link_to( image_tag( e.photo.url(:mini), :title => e.caption( japanese? ), :alt => e.caption( japanese? )),e )} %>
</fieldset>

<p><%= t( 'registrants.title' ) %>: <%= @event.registrants.count %></p>
<p>
	<% if current_user2 %>
		<% if current_user2.events.include?( @event ) %>
			<i style="font-size: 12px"><%= t('events.message.already_applied') %></i>
		<% else %>
				<%= button_to t( 'apply' ), new_event_register_user_path( current_user2, :event_id => @event.id ) %>
				<i><%= t('events.message.not_applied_yet') %></i>
			<% end %>
		<% else %>
		<i style="font-size: 12px"><%= t('events.message.please_login') %> <%= link_to t('login.text'), login_user_path %></i>
	<% end %>
</p>
<div class="clear"></div><br />
<hr>
<ul id="comments">
	<%- semantic_form_for @comment do |f| -%>
		<div id="edit_comment_form">
			<%= render :partial => 'comments/comment', :collection => @event.comments.reverse, :locals => { :f => f } %>
		</div>
	<% end %>
</ul>

<div class="links">
  <% if permitted_to? :edit, @event %>
  	<%= link_to t('edit'), edit_event_path(@event), :class=>"link" %> |
  <% end %>
  <% if permitted_to? :destroy, @event %>
  	<%= link_to t('delete'), @event, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %> |
  <% end %>
  <% if permitted_to? :index, @event %>
  	<%= link_to t('events.title'), events_path, :class=>"link" %>
  <% end %>
</div>

</fieldset>
</div>