<div id="list">
<h1><%= t('events.title') %></h1>
<table class="intro">
	<tr>
		<td>
			<%= @setting.events_description( japanese? ) %>
			<% if permitted_to? :edit, @setting %>
				<%= link_to t('edit'), edit_setting_path( @setting ), :class => :grid %>
			<% end %>
		</td>
	</tr>
</table><br/ >


<table cellpadding="2" cellspacing="1" id="events">
	<tr>
			<th class="list-topics"><%= t('event') %></th>		
			<th class="list-topics"><%= t('event_date') %></th>
			<th class="list-topics"><%= t('place') %></th>
			<th class="list-topics"><%= t('event_cost') %></th>		
	</tr>
	<% for event in @events %>
		<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" id="event_<%= event.id %>">
      	<td><%= event.title( japanese? )%></td>
      	<td><%=h event.date %></td>
      	<td><%=h event.place_to_s %></td>
      	<td><%=h event.cost_to_s %></td>
  		<td>
    			<% if permitted_to? :show, event %>
    				<%= link_to t('show'), event, :class=>"link" %>
    			<% end %>
    			<% if permitted_to? :edit, event %>
    				<%= link_to t('edit'), edit_event_path(event), :class=>"link" %>
    			<% end %>
    			<% if permitted_to? :destroy, event %>
    				<%= link_to t('delete'), event, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
    			<% end %>
			</td>    	
		</tr>
	<% end %>
</table>

<div class="links">
<% if permitted_to? :new, Event.new %>	
	<p><%= link_to t('events.new'), new_event_path, :class=>"link" %></p>
<% end %>
</div>
</div>
