<div id="list">
<h1><%= t('events.title') %></h1>
<div class="intro">
	<%= @setting.events_description( japanese? ) %>
	<% if permitted_to? :edit, @setting %>
		<%= link_to t('edit'), edit_setting_path( @setting ), :class => :grid %>
	<% end %>
</div>


<table cellpadding="20" cellspacing="20" id="events">
	<tr>
			<th><%= t('event') %></th>		
			<th><%= t('event_date') %></th>
			<th><%= t('place') %></th>
			<th><%= t('event_cost') %></th>		
	</tr>
	<% for event in @events %>
		<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" id="event_<%= event.id %>">
      	<td><%= event.title( japanese? )%></td>
      	<td><%=h event.date %></td>
      	<td><%=h event.place_to_s %></td>
      	<td><%=h event.cost_to_s %></td>
  		<td>
    			<% if permitted_to? :show, event %>
    				<%= link_to t('show'), event %>
    			<% end %>
    			<% if permitted_to? :edit, event %>
    				<%= link_to t('edit'), edit_event_path(event) %>
    			<% end %>
    			<% if permitted_to? :destroy, event %>
    				<%= link_to t('delete'), event, :confirm => 'Are you sure?', :method => :delete %>
    			<% end %>
			</td>    	
		</tr>
	<% end %>
</table>

<div class="links">
<% if permitted_to? :new, Event.new %>	
	<p><%= link_to t('events.new'), new_event_path, :class=>"link" %></p>
<% end %>
</div>
</div>
