<div id="list">
<h1><%= t('events.title') %></h1>
<div class="intro">
	<%= @setting.events_description( japanese? ) %>
	<% if can? :edit, @setting %>
		<%= link_to t('edit'), edit_setting_path( @setting ), :class => :grid %>
	<% end %>
</div>

<div id="upcoming_events">
	<%= render :partial=>"events", :locals=>{ :events=>@upcoming_events, :title=>'upcoming_events' } %>
</div>
<div id="past_events">
	<%= render :partial=>"events", :locals=>{ :events=>@past_events, :title=>'past_events' } %>
</div>

<div id="links">
<% if can? :new, Event %>	
	<p><%= link_to t(:new,:object=>t(:event)), new_event_path %></p>
<% end %>
</div>

</div>