<p>
  <%= f.label :name, t('name') %>
	<%= f.text_field :name, :size=>20 %>
</p>
<p>
  <%= f.label :people_per_page, t('people_per_page') %>
	<%= f.text_field :people_per_page, :size=>20 %>
</p>
<p>
  <%= f.label :units_per_schedule, t('units_per_schedule') %>
	<%= f.text_field :units_per_schedule, :size=>20 %>
</p>
<p>
  <%= f.label :language, t('language') %>
	<%= f.text_field :language, :size=>20 %>
</p>
  <p><%= f.submit label_text, :class=>"submit" %></p>

