<div id="list">
<h1><%= t('settings.title') %></h1>

<table cellpadding="2" cellspacing="1">
	<tr>
			<th class="list-topics"><%= t('name') %></th>		
			<th class="list-topics"><%= t('people_per_page') %></th>		
			<th class="list-topics"><%= t('units_per_schedule') %></th>		
			<th class="list-topics"><%= t('language') %></th>		
	</tr>
	<% for setting in @settings %>
		<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
      	<td><%=h setting.name %></td>
      	<td><%=h setting.people_per_page %></td>
      	<td><%=h setting.units_per_schedule %></td>
      	<td><%=h setting.language %></td>
  		<td class="<%= setting.name %>">
    			<%= link_to t('show'), setting, :class=>"link" %>
    			<%= link_to t('edit'), edit_setting_path(setting), :class=>"link" %>
    			<%= link_to t('destroy'), setting, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
			</td>    	
		</tr>
	<% end %>
</table>

<div class="links">
<p><%= link_to t('settings.new'), new_setting_path, :class=>"link" %></p>
</div>
</div>
