<h1><%= t('info') %> - Setting</h1>

<p>
  <strong><%= t('name') %>:</strong>
  <%=h @setting.name %>
</p>
<p>
  <strong><%= t('people_per_page') %>:</strong>
  <%=h @setting.people_per_page %>
</p>
<p>
  <strong><%= t('units_per_schedule') %>:</strong>
  <%=h @setting.units_per_schedule %>
</p>
<p>
  <strong><%= t('language') %>:</strong>
  <%=h @setting.language %>
</p>

<div class="links">
  <%= link_to t('edit'), edit_setting_path(@setting), :class=>"link" %> |
  <%= link_to t('destroy'), @setting, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %> |
  <%= link_to t('view_all'), settings_path, :class=>"link" %>
</div>
