<div class="form">
<%= error_messages_for :teacher %>
<fieldset>
<legend><%= t('multi') %><%= t('edit') %><%= t('teachers.title') %></legend>

<% form_for :teacher, :url => update_multiple_teachers_path, :html => { :method => :put } do |f| %>		
	<table>
		<tr valign="top">
			<div class="courses">
				<%= render :partial => "people/show_multiple_courses",
				           :locals => { :update_param => "teacher[course_ids][]" } %>
			</div>
			<div class="teachers">
				<%= render :partial => "people/show_multiple_people",
				           :locals => { :people => @teachers,
				                        :update_param => "teacher_ids[]",
				                        :title => t('teachers.title') } %>
			</div>
		</tr>
	</table><br />
	<%= f.hidden_field :created_at %>
	<%= f.submit t('update') %>
<% end %>


</fieldset>
</div>