<div id="list">
<h1></h1>

<%- form_for :menu, :url => { :action=>'index' }, :html => { :method=>'get' } do |f| -%>
<div id="select_menu">
  <%= select_tag :menu_year,  		options_for_select( @years,  		@menu_year.to_i ) %>
  <%= select_tag :menu_month, 		options_for_select( @months, 		@menu_month.to_i ) %>
  <%= select_tag :menu_day,   		options_for_select( @days,   		@menu_day.to_i ) %>
  <%= select_tag :menu_language,	options_for_select( @languages, @menu_language ) %>
  <%= select_tag :menu_teacher,		options_for_select( @teachers,  @menu_teacher ) %>
  <%= select_tag :menu_type,			options_for_select( @types, 		@menu_type ) %>
  <span id="day"></span>
  <%= submit_tag "Go!" %>
</div>
<%- end -%>

<%- form_for :mail, :url => { :action=>'send_mail' } do |f| -%>
<div id="mail_container">
	<div id="text_message">
		<%= text_area_tag :body, @mail %>
		<%= hidden_field_tag :menu_year, @menu_year.to_i %>
		<%= hidden_field_tag :menu_month, @menu_month.to_i %>
		<%= hidden_field_tag :menu_day, @menu_day.to_i %>
		<%= hidden_field_tag :menu_language, @menu_language %>
		<%= hidden_field_tag :menu_teacher, @menu_teacher %>
		<%= hidden_field_tag :menu_type, @menu_type %>
	</div>
	<div class="right_column">
<%= submit_tag t(:send) %></div>
</div>
<%- end -%>

</div>