<div id="list">
<h1></h1>

<% form_for :mailer, :url => { :action=>'index' }, :html => { :method=>'get' } do |f| %>
  <label for="menu_date"><%= t(:menu_date) %>: </label>
  <%= select_tag :menu_year,  options_for_select( @years,  @menu_year.to_i ) %>
  <%= select_tag :menu_month, options_for_select( @months, @menu_month.to_i ) %>
  <%= select_tag :menu_day,   options_for_select( @days,   @menu_day.to_i ) %>
  <%= hidden_field_tag :user_id, @user.id %>
  <span id="day"></span>
  <%= f.submit "Go!"%>
<% end %>

<%= @schedule %>
<br />

</div>