<p>
  <%= f.label :title, t('title') %>
	<%= f.text_field :title, :size=>20 %>
</p>
<p>
  <%= f.label :description, t('description') %>
 	<%= f.text_area :description, :rows=>8, :cols=>27 %>
</p>
<p>
  <% for subject in Todo::SUBJECTS %>
    <label><%= check_box_tag "todo[subjects][]", subject, @todo.subjects.include?( subject ) %>
    <%= t( subject ).humanize %><br /></label>
  <% end %>
  <%= hidden_field_tag "todo[subjects][]", "" %>
</p>
<p>
	<%= f.submit label_text, :class=>"submit" %>
</p>

