<p>
  <%= f.label :title, t('title') %>
	<%= f.text_field :title, :size=>20 %>
</p>
<p>
  <%= f.label :description, t('description') %>
 	<%= f.text_area :description, :rows=>8, :cols=>27 %>
</p>
<p>
  <% for subject in Todo::SUBJECTS_EN %>
    <%= check_box_tag "todo[subjects][]", subject[1], @todo.subjects.include?( subject[1] ) %>
    <%= subject[0].humanize %><br />
  <% end %>
  <%= hidden_field_tag "todo[subjects][]", "" %>
</p>
<p>
	<%= f.submit label_text, :class=>"submit" %>
</p>

