<% f.inputs do %>
	<%= hidden_field_tag :comment_id, @comment_id %>
	<%= f.input :title, :label => t( 'title' ) %>
	<%= f.input :description, :label => t( 'description' ) %>
<div class="subjects">
  <% for subject in Todo::SUBJECTS %>
    <label class="<%= subject %>">
    	<%= check_box_tag "todo[subjects][]", subject, @todo.subjects.include?( subject ) %>
    	<span class="text"><%= t( subject ).humanize %></span>
    	<div class="clear"></div>
    </label>
  <% end %>
  <%= hidden_field_tag "todo[subjects][]", "" %>
</div>
<% end %>
<% f.buttons do %>
	<%= f.hidden_field :user_id %>
	<%= hidden_field_tag :comment_id, @comment_id %>
	<%= f.commit_button label_text %>
<% end %>
