<div class="todo_container" id="todo_<%= todo.id %>">
	<div class="points">
		<%= t(:points) %>: <%= todo.points %><br/>
		<div class="vote">
			<%= render :partial => "todos/vote", :locals => { :todo_id => todo.id, :vote => current_user.votes.find_by_todo_id( todo.id )} %>
		</div>
	</div>
	<div class="contents_container">
		<div class="contents">
			<div class="header">
				<%= image_tag avatar_mini_url( todo.user ) %>
				<div class="title">
					<% if show %>
						<%= h( todo.title ) %><%= todo.closed_message %>
					<% else %>
						<%= link_to( h( todo.title ), todo ) %><%= todo.closed_message %>
					<% end %>
				</div>
				<span class="creator">
					By: <% if todo.user.nil? %><%= t :anonymous %><% else %><%= link_to( h( todo.user.name ), todo.user ) %><% end %>,
				  <%= distance_of_time_in_words_to_now( todo.created_at ) %><%= t('ago') %>
				</span>
			</div>
			<div class="clear"></div>
			<%= Sanitize.clean( todo.description, :elements => 'br' ) %>
			
			<% if !show %>
				<div class="links">
					<% if can? :toggle_close, todo %>
						<%= link_to todo.closed ? t(:reopen) : t(:close), toggle_close_todo_path(todo), :class=>"link" %>
					<% end %>					
					<% if can? :edit, todo %>
						<%= link_to t('edit'), edit_todo_path(todo), :class=>"link" %>
					<% end %>
					<% if can? :destroy, todo %>
						<%= link_to t('destroy'), todo, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
		<% todo.subjects.each do |subject| %>
			<div id="subject" class="<%= subject %>"><%= t( subject ).downcase %></div>
		<% end %>
		<% if !show %>
			<div class="comments">
				<%= pluralize( todo.comments.size, "comment" ) %>
				<% if !todo.comments.empty? %>
					, last comment: <%= link_to todo.comments.last.user.name, todo.comments.last.user %>
					<%= distance_of_time_in_words_to_now( todo.comments.last.created_at ) %><%= t('ago') %>
				<% end %>	
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>