<% content_for(:head) do %>
<%= stylesheet_link_tag 'votes' %>
<style>
textarea#comment_comment{
  background: url(<%= @setting.subdomain%><%= avatar_mini_url( current_user2 ) %>) no-repeat;
  background-color: white;
  background-position: 0 50%;
  padding-left: 45px;
	width:430px;
  height:46px;
	font-size:12px;
	font-family: sans-serif;
	resize:none;
}
</style>
<% end %>
<div class="show">
<fieldset class="show">
<legend><%= @todo.title %></legend>

<%= render :partial => @todo, :locals =>{ :show => true } %>
<hr>
<ul id="comments">
	<%- semantic_form_for @comment do |f| -%>
		<div id="edit_comment_form">
			<%= render :partial => 'comments/comment', :collection => @todo.comments.reverse, :locals => { :f=>f } %>
		</div>
	<%- end -%>	
</ul>
<br />
<div class="links">
	<% if can? :index, @todo %>
		<%= link_to t('todos.title'), todos_path, :class=>"link" %>
	<% end %>				
	<% if can? :edit, @todo %>
		| <%= link_to t('edit'), edit_todo_path(@todo), :class=>"link" %>
	<% end %>
	<% if can? :destroy, @todo %>
		| <%= link_to t('delete'), @todo, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
	<% end %>
</div>


</fieldset>
</div>