<div class="form">
<%= error_messages_for :todo %>

<fieldset>
<legend><%= t('todos.editing') %></legend>

<% form_for @todo do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('update') } %>
<% end %>

<div class="links">
		  <%= link_to t('show'), @todo, :class=>"link" %> |
		  <%= link_to t('view_all'), todos_path, :class=>"link" %>
		</p>
</div>

</fieldset>
</div>