<div class="show">
<fieldset>
<legend><%= @todo.title %></legend>

<div id="show_container">
	<%= render :partial => @todo, :locals =>{ :title => false, :links => false } %>
  <div class="links">
		<% if permitted_to? :index, @todo %>
			<%= link_to t('todos.title'), todos_path, :class=>"link" %>
		<% end %>				
		<% if permitted_to? :edit, @todo %>
			| <%= link_to t('edit'), edit_todo_path(@todo), :class=>"link" %>
		<% end %>
		<% if permitted_to? :destroy, @todo %>
			| <%= link_to t('delete'), @todo, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %>
		<% end %>
  </div>
</div>

</fieldset>
</div>