<% f.inputs do %>
	<%= f.input :name, :label => t(:name) %>
	<%= f.input :level_ja, :label => t( :level_ja ) %>
	<%= f.input :level_en, :label => t( :level_en ), :input_html => { :class => 'non-japanese' } %>
	<%= f.input :capacity, :label => t( :capacity ), :input_html => { :class => 'non-japanese numeric' }%>
	<span class="horizontal"><%= f.input :inactive, :label => t(:inactive), :as=>:radio %></span>
	<%= f.input :description, :label => t(:description), :required=>false %>
	<%= f.input :note, :label => t(:note), :required=>false %>
<% end %>
<% f.buttons do %>
	<%= f.commit_button label_text %>
<% end %>