<% f.inputs do %>
	<%= f.input :name, :label => t(:name) %>
	<span class="horizontal"><%= f.input :inactive, :label => t(:inactive), :as=>:radio %></span>
	<%= f.input :description, :label => t(:description), :required=>false %>
	<%= f.input :note, :label => t(:note), :required=>false %>
<% end %>
<% f.buttons do %>
	<%= f.commit_button label_text %>
<% end %>