<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>" >
	<td>	
  	<%= h course.name %>
  </td>
  <td class="list-actions">
  	<div class="<%= course.category %>_<%= course.level %>">
    <%= link_to t( 'show' ), course %>
    <% if clearance < 2 %>
	    <%= link_to t( 'edit' ), edit_course_path( course ) %>
	    <%= link_to t( 'delete' ),
	       course,
	      :confirm => "Are you sure?\n"+
      	 	association_delete_error_messages(
					[ course.template_classes, course.klasses ],
					[ t( 'courses.error.try_to_delete_course_with_template_classes' ),
						t( 'courses.error.try_to_delete_course_with_klasses' )]).join("\n"),
	      :method => :delete %>
	    <% end %>
    </div>
  </td>
</tr>