<div class="form">
<fieldset class="form">
<legend class="form"><%= t( 'courses.new' ) %></legend>

<div class="intro">
	<%= t('message.asterisk') %>
</div>

<% semantic_form_for @course do |f| %>
  <%= render "form", :f=>f, :label_text=>t(:create) %>
<% end %>

<div id="links">
	<%= link_to t(:show), @course if can? :show, Course %>
	<%= link_to t(:list,:object=>t('courses.title')), courses_path if can? :index, Course %>
	<% if can? :destroy, @course %>
		<%= link_to t(:delete), @course, :method => :delete, :confirm => t(:sure?)+"\n"+
		 	association_delete_error_messages(
			[ @course.template_classes_count, @course.klasses_count ],
			[ t( 'courses.error.try_to_delete_course_with_template_classes' ),
				t( 'courses.error.try_to_delete_course_with_klasses' )]).join("\n") %>
	<% end %>
</div>

</fieldset>
</div>