<div class="show">
<fieldset class="show">
<legend><%= t(:course) %></legend>

<div class="pairs">
	<%= render 'includes/pair', :left => t(:name), :right => h(@course.name) %>
	<%= render 'includes/pair', :left => t(:inactive), :right => h(@course.inactive) %>
	<%= render 'includes/pair', :left => t(:description), :right => h(@course.description) %>
	<%= render 'includes/pair', :left => t(:note), :right => h(@course.note) %>
</div>

<div id="links">
		<%= link_to t(:edit), edit_course_path(@course) if can? :edit, @course %>
		<%= link_to t(:list,:object=>t('courses.title')), courses_path if can? :index, Course %>
		<% if can? :destroy, @course %>
			<%= link_to t(:delete), @course, :method => :delete, :confirm => t(:sure?)+"\n"+
			 	association_delete_error_messages(
				[ @course.template_classes_count, @course.klasses_count ],
				[ t( 'courses.error.try_to_delete_course_with_template_classes' ),
					t( 'courses.error.try_to_delete_course_with_klasses' )]).join("\n") %>
		<% end %>
</div>

<% if false %>
<table border="0" cellspacing="0" cellpadding="5">
	<tr><td>
		<table border="0" cellspacing="0" cellpadding="0">
			<% if !@course.klasses.empty? %>
				<tr><th align="left"><h4><%= t( 'klasses.title' ) %></h4></th></tr>
				<% @course.klasses.group_by{|e| e.date.strftime("%x")}.sort.each do |date,klass_group| %>
					<tr><td><%= klass_group[0].date.strftime("%x") %>: <%= t( 'date.day_names' )[klass_group[0].date.strftime("%w").to_i] %><br /></td></tr>
					<% klass_group.sort_by(&:start_time).each do |klass| %>
						<div class="klass_<%= klass.id %>">
							<tr>
								<td style="font-size: x-small">
									(<%= klass.attendances.size %>)
									<%= link_to h( klass.time_interval ), klass, :class => "grid" %>
								</td>
							</tr>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</table>
	</td>
	<td valign="top">
		<table border="0" cellspacing="0" cellpadding="0">
			<% if !@course.template_classes.empty? %>
				<tr><th align="left"><h4><%= t( 'template_klasses.title' ) %></h4></th></tr>
				<% @keys.each do |key| %>
					<tr><td><%= @template_klass_groups[key][0].day %></td></tr>
					<% @template_klass_groups[key].sort_by(&:start_time).each do |template_klass| %>
						<div class="template_klass_<%= template_klass.id %>">
							<tr>
								<td>
									<%= link_to h( template_klass.time_interval ), template_klass, :class => "grid" %>
								</td>
							</tr>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</table>	
	</td></tr>
</table></p>

<% if !( @course.template_classes.empty? && @course.klasses.empty? ) %>
	<%= link_to t('edit'), edit_course_path(@course), :class=>"link" %> |
	<%= link_to t('back'), courses_path, :class=>"link" %><br />	
<% end %>

<% end %>

</fieldset>
</div>