<div class="form">
<fieldset>
<legend><%= t('course') %></legend><p>

  <b><%= t( 'name' ) %>: </b>
  <%=h @course.name %>
</p>

<p>
  <b><%= t( 'description' ) %>: </b>
  <%=h @course.description %>
</p>

<p>
  <b><%= t( 'inactive' ) %>: </b>
  <%=h @course.inactive %>
</p>

<p>
  <b><%= t( 'note' ) %>: </b>
  <%=h @course.note %>
</p>

<% if clearance<3 %>
	<%= link_to t('edit'), edit_course_path(@course), :class=>"link" %> |
<% end %>
<%= link_to t('back'), courses_path, :class=>"link" %><br />	

<table border="0" cellspacing="0" cellpadding="5">
	<tr><td>
		<table border="0" cellspacing="0" cellpadding="0">
			<% if !@course.klasses.empty? %>
				<tr><th align="left"><h4><%= t( 'klasses.title' ) %></h4></th></tr>
				<% @course.klasses.group_by{|e| e.date.strftime("%x")}.sort.each do |date,klass_group| %>
					<tr><td><%= klass_group[0].date.strftime("%x") %>: <%= t( 'date.day_names' )[klass_group[0].date.strftime("%w").to_i] %><br /></td></tr>
					<% klass_group.sort_by(&:start_time).each do |klass| %>
						<div class="klass_<%= klass.id %>">
							<tr>
								<td style="font-size: x-small">
									(<%= klass.attendances.size %>)
									<%= link_to h( klass.time_interval ), klass, :class => "grid" %>
								</td>
							</tr>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</table>
	</td>
	<td valign="top">
		<table border="0" cellspacing="0" cellpadding="0">
			<% if !@course.template_classes.empty? %>
				<tr><th align="left"><h4><%= t( 'template_klasses.title' ) %></h4></th></tr>
				<% @keys.each do |key| %>
					<tr><td><%= @template_klass_groups[key][0].day %></td></tr>
					<% @template_klass_groups[key].sort_by(&:start_time).each do |template_klass| %>
						<div class="template_klass_<%= template_klass.id %>">
							<tr>
								<td>
									<%= link_to h( template_klass.time_interval ), template_klass, :class => "grid" %>
								</td>
							</tr>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</table>	
	</td></tr>
</table></p>

<% if !( @course.template_classes.empty? && @course.klasses.empty? ) %>
	<% if clearance<3 %>
		<%= link_to t('edit'), edit_course_path(@course), :class=>"link" %> |
	<% end %>
	<%= link_to t('back'), courses_path, :class=>"link" %><br />	
<% end %>

</fieldset>
</div>