<div class="form">
<%= error_messages_for :photo %>
<fieldset>
<legend><%= t('photos.new') %></legend>

<% semantic_form_for @photo, :html => { :multipart => true } do |f| %>
	<% f.inputs do %>
	  <%= f.input :photo, :label => t('photo') %>
  	  <%= f.input :caption_ja, :label => t('caption'), :required => false, :hint => "写真の解説を編集する" %>
  	  <%= f.input :caption_en, :label => t('caption'), :required => false, :hint => "Edit caption of photo" %>
	  <%= f.input :gallery_id, :as => :hidden %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:add,:object=>t(:photo)) %>
	<% end %>
<% end %>

<div class="links">
		<p><%= link_to t('gallery'), @photo.gallery, :class=>"link" %></p>
</div>

</fieldset>
</div>