<div class="show">
<fieldset class="show">
<legend><%= t('photo') %></legend>

<div id="photo_container">
  <div id="photo"><%= link_to( image_tag( @photo.photo.url(:large)), @next ) %></div>
  <div class="clear"></div>
  <div id="caption"><%= h @photo.caption( japanese? ) %></div>
  <div id="uploader">
  	By: <% if @photo.user.nil? %><%= t :anonymous %><% else %><%= link_to( h( @photo.user.name ), @photo.user ) %><% end %>
  </div>
</div>
<div class="clear"></div>
<div class="links">
	<p>
		<% if can? :update, @photo %>
			<%= link_to t('edit'), edit_photo_path(@photo), :class=>"link" %> |
		<% end %>
		<% if can? :destroy, @photo %>
			<%= link_to t('delete'), @photo, :confirm => 'Are you sure?', :method => :delete, :class=>"link" %> |
		<% end %>
		<% if can? :show, @photo.gallery %>
			<%= link_to t('gallery'), @photo.gallery, :class=>"link" %>
		<% end %>
	</p>
</div>

</fieldset>
</div>