<div class="form">
<%= error_messages_for :gallery %>

<fieldset>
<legend><%= t('galleries.editing') %></legend>

<% form_for @gallery do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('update') } %>
<% end %>

<div class="links">
		  <%= link_to t('show'), @gallery, :class=>"link" %> |
		  <%= link_to t('view_all'), galleries_path, :class=>"link" %>
		</p>
</div>

</fieldset>
</div>