<table cellpadding="0" cellspacing="1", border="0" class="course listing" id="<%= template_classes[0].course.category %>">
  <tr>
    <th class="title" colspan="2"><%= t(:object_course, :object => template_classes[0].course_category) %>&nbsp;
    	<%= link_to('+',new_template_class_path(
    		:template_day=>@template_day,
    		:template_course=>template_classes[0].course.category )) %></th>
  </tr>
  <tr>
	  <th class="subtitle" rowspan="2"><%= t :lesson %></th>
		<th class="subtitle" rowspan="2"><%= t :klass_time %></th>
		<th class="subtitle" rowspan="2"><%= t :unit %></th>
		<th class="subtitle" rowspan="2"><%= t :classroom %></th>
		<th class="subtitle" rowspan="2"><%= t :teacher %></th>
    <th class="subtitle" colspan="8"><%= t :student %></th>		
  </tr>
  <tr>
    <% 8.times do |no| %>
      <th class="template-table-topics-sub"><%= no+1 %></th>
    <% end %>
  </tr>
  	
  <% index = 0 %>
  <% @time_groups = template_classes.group_by(&:time_interval) %>
	<% @time_groups.sort.each do |time, time_classes_and_levels| %>
		<% time_classes_and_levels.group_by(&:course_level).sort.each do |level,time_classes| %>
			<% index += 1 %>
			<tr class="<%= index%2==0 ? 'list-line-odd' : 'list-line-even' %>" id="templateclass_<%= time_classes[0].id %>">
				<td class="course_level" rowspan="<%= time_classes.size %>">
					<%= time_classes[0].course_level %>&nbsp;
					<%= link_to('+',new_template_class_path(
					  :template_day=>@template_day,
					  :template_course=>time_classes[0].course.name,
					  :start_time=>time_classes[0].start_time,
					  :end_time=>time_classes[0].end_time,
					  :capacity=>time_classes[0].capacity )) %>
				</td>	
				<% time_classes.each do |template_class| %>
					<%= render template_class, :teachers => @teachers.reject{|e| !e.teacher_courses.include?( template_class.course )} %>
					</tr>
					<% if time_classes[-1]!=template_class %>
						<tr class="<%= index%2==0 ? 'list-line-odd' : 'list-line-even' %>" id="templateclass_<%= template_class.id+1 %>">
					<% end %>
				<% end %>
			</tr>			
		<% end %>
	<% end %>
</table>