<table cellpadding="0" cellspacing="1", border="0" class="course" id="<%= template_classes[0].course.category %>">
  <tr>
    <th class="title" colspan="2"><%= t(:object_course, :object => template_classes[0].course_category) %>&nbsp;<%= link_to('+',new_template_class_path( :template_day=>@template_day, :template_course=>template_classes[0].course.category )) %></th>
  </tr>
  <tr>
	  <th class="subtitle" rowspan="2"><%= t :lesson %></th>
		<th class="subtitle" rowspan="2"><%= t :klass_time %></th>
		<th class="subtitle" rowspan="2"><%= t :unit %></th>
		<th class="subtitle" rowspan="2"><%= t :classroom %></th>
		<th class="subtitle" rowspan="2"><%= t :teacher %></th>
    <th class="subtitle" colspan="8"><%= t :student %></th>		
  </tr>
  <tr>
    <% 8.times do |no| %>
      <th class="template-table-topics-sub"><%= no+1 %></th>
    <% end %>
  </tr>
  <%= render template_classes %>
</table>