<div class="form">

<fieldset class="form">
<legend class="form"><%= t(:editing, :object => t(:template_class)) %></legend>

<%- semantic_form_for(@template_class) do |f| -%>
  <%= render :partial=>"form", :locals=>{ :f=>f, :label_text => t('update') } %>
  <%= hidden_field_tag :redirect, params[:redirect] %>
<%- end -%>

<%= link_to t('show'), @template_class %> |
<%= link_to t('template_klasses.title'), template_classes_path( :template_day=>@template_class.day ) %>
</fieldset>
</div>