<div class="form">
<%= error_messages_for :template_class %>

<fieldset>
<legend><%= t('template_klasses.editing') %></legend>

<% form_for(@template_class) do |f| %>
  <%= render :partial=>"form", :locals=>{ :f=>f, :label_text => t('update') } %>
  <%= hidden_field_tag :redirect, params[:redirect] %>
<% end %>

<%= link_to t('show'), @template_class %> |
<%= link_to t('back'), template_classes_path( :template_day=>@template_class.day ) %>
</fieldset>
</div>