<h1><%= t( 'template_klasses.listing' ) %></h1>

<% form_for :template_class,
            :url => { :action=>'index' },
            :html => { :method=>'get' } do |f| %>
  <%= select_tag :template_day,
    options_for_select( @days, @template_day ),
    :onchange => "this.form.submit();" %>
<% end %>
<br />

<% @keys = sort_in_mogi_order @template_groups.keys %>
<% @keys.each do |key| %>
  <div id="table">
    <%= render :partial=>"course",
    			:locals=>{
    				:course_klasses => @template_groups[key],
    				:collision => @collision	
    			} %><br />
  </div>
<% end %>

<div id="links">
	<% if clearance < 3 %>
		<br />
		<%= link_to t( 'template_klasses.new' ), new_template_class_path( :template_day=>@template_day ), :class=>"link" %><br />
	<% end %>
</div>

<% if clearance?(1) && @template_classes %>
	<table>
	<% @template_classes.each do |template_class| %>
	  <tr>
	    <td><%=h template_class.course %></td>
	    <td><%=h template_class.course_time %></td>
	    <td><%=h template_class.day %></td>
	    <td><%=h template_class.title %></td>
	    <td><%=h template_class.description %></td>
	    <td><%=h template_class.inactive %></td>
	    <td><%=h template_class.note %></td>
	    <td><%= link_to 'Show', template_class %></td>
	    <td><%= link_to 'Edit', edit_template_class_path(template_class) %></td>
	    <td><%= link_to 'Destroy', template_class, :confirm => 'Are you sure?', :method => :delete %>
	    </td>
	  </tr>
	<% end %>
	</table>
<% end %>