<div id="list">
	
<h1><%= t( 'template_klasses.title' ) %></h1>
<%- form_for :template_class, :url => { :action=>'index' }, :html => { :method=>'get' } do |f| -%>
  <div id="select_menu">
	  <label for="template_day">Choose a day: </label>
	  <%= select_tag :menu_day, options_for_select( @days, @template_day ) %>
	  <%= f.submit "Go!"%>
	</div>
<%- end -%>

<div class="intro">
The Template Classes tell the basic idea of how a typical day looks like.
The Classes for a day are generated from the Template Classes as base.
</div>
<br />

<% @keys = sort_in_mogi_order @template_groups.keys %>
<% @keys.each do |key| %>
	<%= render :partial => 'course', :locals => { :template_classes => @template_groups[key] } %>
<% end %>

<div id="links">
	<% if can? :new, TemplateClass %>
		<%= link_to t(:new,:object=>t(:template_class)), new_template_class_path( :template_day=>@template_day ) %><br />
	<% end %>
</div>

</div>