<div id="list">
	
<h1><%= t( 'template_klasses.title' ) %></h1>
<div class="intro">
</div>

<% form_for :template_class, :url => { :action=>'index' }, :html => { :method=>'get' } do |f| %>
  <label for="template_day">Choose a day: </label>
  <%= select_tag :template_day, options_for_select( @days, @template_day ) %>
  <%= f.submit "Go!"%>
<% end %>
<br />

<% @keys = sort_in_mogi_order @template_groups.keys %>
<% @keys.each do |key| %>
	<%= render :partial => 'course', :locals => { :template_classes => @template_groups[key] } %>
<% end %>

<div id="links">
	<% if can? :new, TemplateClass %>
		<%= link_to t(:new,:object=>t(:template_klass)), new_template_class_path( :template_day=>@template_day ) %><br />
	<% end %>
</div>

</div>