<p>
  <b><%= t('course') %>: </b><%= link_to h(@template_klass.course), @template_klass.course ? @template_klass.course : "" %>
</p>

<p>
  <b><%= t('teacher') %>: </b><%= link_to h(@template_klass.teacher), @template_klass.teacher ? @template_klass.teacher : "" %>
</p>

<p>
  <b><%= t('classroom') %>: </b><%= link_to h(@template_klass.classroom), @template_klass.classroom ? @template_klass.classroom : "" %>
</p>

<p>
  <b><%= t('capacity') %>: </b><%=h @template_klass.capacity %>
</p>

<p>
  <b><%= t('day') %>: </b><%=h @template_klass.day %>
</p>

<p>
  <b><%= t('klass_time') %>: </b><%=h @template_klass.time_interval %>
</p>

<p>
  <b><%= t('title') %>: </b><%=h @template_klass.title %>
</p>

<p>
  <b><%= t('description') %>: </b><%=h @template_klass.description %>
</p>

<p>
  <b><%= t('inactive') %>: </b><%=h @template_klass.inactive %>
</p>

<p>
  <b><%= t('mail_sending') %>: </b><%=h @template_klass.mail_sending %>
</p>

<p>
  <b><%= t('note') %>: </b><%=h @template_klass.note %>
</p>

<%= link_to t('edit'), edit_template_class_path(@template_klass) %> |
<%= link_to t('back'), template_classes_path( :template_day=>@template_klass.day ) %>
