<p>
  <%= f.label :cost, t('cost') %>
  <%= f.text_field h( :cost ), :size=>20 %>
</p>
<p>
  <%= f.label :note, t('note') %>
  <%= f.text_area h( :note ), :rows=>8, :cols=>27 %>
</p>
<p>
	<%= f.submit label_text, :class=>:submit %>
</p>