<tr class="<%= cycle( 'list-line-odd', 'list-line-even' ) %>">
		<td><% if current_user == vote.user %><span class="highlight"><%= link_to vote.user.name, vote.user %></span><% else %><%= link_to vote.user.name, vote.user %><% end %></td>		
		<td><%= vote.points %></td>
		<td><%= distance_of_time_in_words_to_now( vote.created_at ) %><%= t :ago %></td>
</tr>