<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mafumafu: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'yoyaku', 'rails', 'formtastic', 'formtastic_changes' %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'application' %>
  <%= yield(:head) %>
</head>
<body>
  <div id="banner" class="banner">
		<table border="0" align="center"><tr><td>
			<ul id="nav">
					<li><%= link_to t('events.title'), events_path %>
						<% if permitted_to? :index, Registrant.new %>	
							<ul>
								<li>------------------</li>
								<li><%= link_to t('registrants.title'), registrants_path %></li>							
							</ul>
						<% end %>
					</li>				
					
					<% if permitted_to? :index, User.new %>	
						<li><%= link_to t('users.title'), users_path %></li>									
					<% end %>
					
					<% if permitted_to? :index, User.new %>	
						<li><%= link_to t('kanjis.title'), kanjis_path %></li>									
					<% end %>					
<% if false %>
				<% if clearance <= 3 %>
					<li><%= link_to t('people.title'), people_path %></a>
						<ul>
							<li>------------------</li>
							<li><%= link_to t('teachers.title'), people_path( :category=>t('teachers.title') ) %></li>
							<li><%= link_to t('students.title'), people_path( :category=>t('students.title') ) %></a></li>
						</ul>
					</li>
			
					<li><a href="/klasses"><%= t('klasses.title') %></a>
						<ul>
							<li>------------------</li>
							<li><a href="/template_classes"><%= t('template_klasses.title') %></a></li>
							<li><a href="/courses"><%= t('courses.title') %></a></li>
							<li><a href="/classrooms"><%= t('classrooms.title') %></a></li>
						</ul>
					</li>
					
					<li><a href="/schedules"><%= t('schedules.title') %></a>
						<ul>
							<li>------------------</li>
							<li><a href="/units"><%= t('units.title') %></a></li>
						</ul>
					</li>					
					<li><a href="/settings"><%= t('settings.title') %></a>
					</li>		
				<% end %>
				
				<% if current_user %>
				<li><%= link_to t('mymafumafu.title'), current_user.student.nil? ? teacher_path( current_user.teacher.id ) : edit_klasses_student_path( current_user.student.id ) %></a>
					<ul>
						<li>------------------</li>
						<li><a href="/admin/logout"><%= t('logout.title') %></a></li>
					</ul>
				</li>
				<% end %>
				
				<% if clearance == 1 %>
					<li><a href="/documentation"><%= t('documentation.title') %></a>
						<ul>
							<li>------------------</li>
							<li><a href="/docs"><%= t('docs.title') %></a></li>
							<li><a href="/tags"><%= t('tags.title') %></a></li>
						</ul>
					</li>
				<% end %>
<% end %>
			</ul>
		</td></tr></table>
  </div><!-- banner -->
	<div id="container">	
		<div id="main">
	    <%- flash.each do |key, msg| -%>  
	      <div id="<%= key %>">  
	        <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>  
	        <p><%= msg %></p>    
	      </div>
	      <div class="clear"></div>
	    <%- end -%>
	    <%= yield :layout %>
			<div id="footer">
				Questions/suggestions/corrections are sent to: johan@reserve-gakuwarinet.com	
			</div>
	  </div>
		<div id="right_column">
			<%= render :partial => "/includes/side_contents" %>
		</div>
		<div class="clear"></div>
	</div>    
</body>
</html>
