<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mafumafu: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'yoyaku', 'formtastic', 'formtastic_changes' %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'application' %>
  <%= yield(:head) %>
</head>
<body>
	<div id="container">	
	  <%- flash.each do |key, msg| -%>  
      <div id="<%= key %>">
        <% if false %><p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p><% end %>
        <p><%= msg %></p>    
      </div>
      <div class="clear"></div>
    <%- end -%>
		<% if can? :index, Event.new %>		    
		  <div id="banner">
			  <table border="0" align="center"><tr><td>
				  <ul id="nav">
						<% if can? :index, Todo.new %>
							<li><%= link_to t('todos.title'), todos_path %>
							<% if can? :index, Vote.new %>	
								<ul>
									<li>------------------</li>
									<li><%= link_to t('votes.title'), votes_path %></li>							
								</ul>
							<% end %>							
							</li>
						<% end %>
						
						<li><%= link_to t('events.title'), events_path %>
							<% if can? :index, Registrant.new %>	
								<ul>
									<li>------------------</li>
									<li><%= link_to t('registrants.title'), registrants_path %></li>							
								</ul>
							<% end %>
						</li>				
						
						<% if can? :index, User.new %>	
							<li><%= link_to t('users.title'), users_path %></li>									
						<% end %>
						
						<% if can? :index, User.new %>	
							<li><%= link_to t('kanjis.title'), kanjis_path %></li>									
						<% end %>
					</ul>
				</td></tr></table>
			</div>
		<% end %>
		<div id="right_column">
			<%= render :partial => "/includes/side_contents" %>
		</div>
		<div id="main">
	    <%= yield :layout %>
			<div id="footer">
				Questions/suggestions/corrections are sent to: johan@reserve-gakuwarinet.com	
			</div>
	  </div>
		<div class="clear"></div>
	</div>    
</body>
</html>
