<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Courses: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'yoyaku' %>
  <%= stylesheet_link_tag 'rails' %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="movie">
  <div id="columns">
    <div id="side">
      <a href="/klasses">クラス</a><br />
      <a href="/people">全部の人</a><br />
      <a href="/teachers">講師</a><br />
      <a href="/students">受講生</a><br />
      <br />
      <a href="/template_classes">テンプレート・クラス</a><br />
      <br />
      <a href="/courses">講座</a><br />
      <a href="/classrooms">部屋</a><br />
      <a href="/course_times">時間</a><br />

	    <br />
      <a href="/admin/logout">ログアウト</a><br />
      <% if clearance?(1) %>
        <br />
        <a href="/documentation">Documentation</a><br />
        <a href="/docs">Docs</a><br />
        <a href="/tags">Tags</a><br />
      <% end %>


    </div>
    <div id="main">
      <%- flash.each do |key, msg| -%>  
        <div id="<%= key %>">  
          <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>  
          <p><%= msg %></p>  
          <div class="clear"></div>  
        </div>
      <%- end -%> 
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
