<p>
  <label for="course">講座</label>
  <%= f.select :course_id,
    Course.find( :all ).map{|e| [e, e.id]},
    :prompt => "講座を選んで",
    :selected => @klass.course ? @klass.course.id : params[:course] ? Course.find( params[:course] ).id : nil %>
</p>
<p>
  <label for="teacher">講師</label>
  <%= f.select :teacher_id,
    Teacher.find(
      :all,
      :conditions => ["person_id = people.id"],
      :include => :person ).map{|e| [e, e.id]},
      :prompt => "講師を選んで",
      :selected => @klass.teacher ? @klass.teacher.id : nil %> 
</p>
<p>
  <label for="classroom">教室</label>
  <%= f.select :classroom_id,
    Classroom.find( :all ).map{|e| [e, e.id]},
    :prompt => "教室を選んで",
    :selected => @klass.classroom ? @klass.classroom.id : nil %>
</p>
<p>
  <%= f.label :capacity %>
  <%= f.text_field :capacity, :size=>5 %>
</p>
<p>
  <%= f.label :mail_sending %>
  <%= f.text_field :mail_sending, :size=>5 %>
</p>
<p>
  <label for="date">日付</label>
  <% parsed_date = klass_date.split("-") %>
  <%= f.date_select :date,
    :default => klass_date == "" ? nil : {
      :year=>parsed_date[0],
      :month=>parsed_date[1],
      :day=>parsed_date[2] },
    :order=>[ :month, :day, :year ] %>
</p>
<p>
  <%= f.label :start_time %>
  <%= f.time_select :start_time,
    :default => {
      :hour=>params[:start_time] ? params[:start_time].split(':')[0] : nil,
      :min=>params[:start_time] ? params[:start_time].split(':')[1] : nil
    } %>
</p>
<p>
  <%= f.label :end_time %>
  <%= f.time_select :end_time,
    :default => {
      :hour=>params[:end_time] ? params[:end_time].split(':')[0] : nil,
      :min=>params[:end_time] ? params[:end_time].split(':')[1] : nil
    } %>  
</p>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :size=>20 %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description, :rows=>8 %>
</p>
<p>
  <%= f.label :cancel %>
  <table><tr>
    <td bgcolor="#AAAAFF"><%= f.radio_button :cancel, false %>OFF</td>
    <td bgcolor="#FFAAAA"><%= f.radio_button :cancel, true %>ON</td>
  </tr></table>
</p>
<p>
  <%= f.label :note %>
  <%= f.text_area :note, :rows=>8 %>
</p>
<p>
  <%= f.submit label_text, :class=>"submit" %>
</p>