<%= javascript_include_tag "capacity_update.js" %>
<div class="form">
<%= error_messages_for :klass %>
<fieldset class="form">
<legend class="form"><%= t( :editing, :object=>t(:klass)) %></legend>

<div class="intro">
	<%= t('message.asterisk') %>
</div>

<% semantic_form_for(@klass) do |f| %>
  <% #render :partial=>"form", :locals => { :f=>f, :label_text => t('create'), :klass_date=>@klass_date } %>
  <%= render :partial=>"form", :locals=>{ :f=>f, :label_text => 'update' } %>
<% end %>

<div id="links">
	<%= link_to t(:show), @klass if can? :show, @klass %>
	<%= link_to t(:destroy), @klass, :confirm => t(:sure?), :method => :delete if can? :destroy, @klass %>
	<%= link_to t(:list,:object=>t('klasses.title')), klasses_path( :class_year=>@klass.year, :class_month=>@klass.month, :class_day=>@klass.day ) if can? :index, Klass %>
</div>

</fieldset>
</div>