<div class="form">
<%= error_messages_for :klass %>
<fieldset>
<legend><%= t('klasses.editing') %></legend>

<% form_for(@klass) do |f| %>
  <%= render :partial=>"form", :locals => { :f=>f, :label_text => t('update'), :klass_date=>"" } %>
	<%= hidden_field_tag :redirect, params[:redirect] %>
<% end %>

<%= link_to t('show'), @klass, :class=>:link %> |
<%= link_to t('back'), klasses_path( :date => @klass.date ), :class=>:link %>
</fieldset>
</div>