<%= javascript_include_tag "capacity_update.js" %>
<div class="form">
<%= error_messages_for :klass %>
<fieldset class="form">
<legend class="form"><%= t( 'klasses.new' ) %></legend>

<div class="intro">
	<%= t('message.asterisk') %>
</div>

<% semantic_form_for(@klass) do |f| %>
  <% #render :partial=>"form", :locals => { :f=>f, :label_text => t('create'), :klass_date=>@klass_date } %>
  <%= render :partial=>"form", :locals=>{ :f=>f, :label_text => 'create' } %>
<% end %>

<div id="links">
	<% if can? :index, Klass %>
		<%= link_to t(:list,:object=>t('klasses.title')), klasses_path %>
	<% end %>
</div>

</fieldset>
</div>