<h1><%= t('info') %> - <%= t('klass') %></h1>
<table cellpadding="10">
	<tr>
		<td>
			<p>
			  <b><%= t('course') %>: </b><%= clearance < 4 ? ( link_to h( @klass.course ), @klass.course ? @klass.course : "" ) : h( @klass.course ) %>
			</p>
<% if clearance < 4 %>			
			<p>
			  <b><%= t('teacher') %>: </b><%= link_to h( @klass.teacher ), @klass.teacher ? @klass.teacher : "" %>
			</p>
			
			<p>
			  <b><%= t('classroom') %>: </b><%= link_to h( @klass.classroom ), @klass.classroom ? @klass.classroom : "" %>
			</p>
			
			<p>
			  <b><%= t('capacity') %>: </b><%=h @klass.capacity %>
			</p>
<% end %>			
			<p>
			  <b><%= t('klass_date') %>: </b><%=h @klass.date.strftime("%x") %>
			</p>
			
			<p>
			  <b><%= t('klass_time') %>: </b><%=h @klass.time_interval %>
			</p>
			
			<p>
			  <b><%= t('title') %>: </b><%=h @klass.title %>
			</p>
<% if clearance < 4 %>			
			<p>
			  <b><%= t('mail_sending') %>: </b><%=h @klass.mail_sending %>
			</p>
			
			<p>
			  <b><%= t('cancel') %>: </b><%=h @klass.cancel %>
			</p>
<% end %>			
			<p>
			  <b><%= t('description') %>: </b><%=h @klass.description %>
			</p>

			<p>
<% if clearance >= 4 && !current_user.teacher.nil? %>
				<% form_for @klass do |f| %>
					<b><%= f.label :note, t('note')+":" %></b><br /><%= f.text_area :note, :rows=>8 %><br /><br />
					<%= f.submit t('update') %>
				<% end %>
<% else	%>
			  <b><%= t('note') %>: </b><%=h @klass.note %>
<% end %>
			</p>
		</td>
		<td valign="top">
			<div class="students">
				<% unless @klass.students.empty? || clearance > 3 %>
					<h3><%= t('students.title') %></h3>
					<% @klass.attendances.each do |attendance| %>
						<div class="<%= attendance.student.username %>">
							<li>
								<% if attendance.cancel %>
									<i>(<%= link_to h( attendance.student ), attendance %> <%= t('canceled') %>)</i>
								<% elsif !attendance.chosen %>
									<i>(<%= link_to h( attendance.student ), attendance %>)</i>
								<% else %>
									<%= link_to h( attendance.student ), attendance %>
								<% end %>
							</li>
						</div>
					<% end %>
				<% end %>
			</div>
		</td>		
	</tr>
</table>

<div class="links">
	<% if clearance<3 %>
		<%= link_to t('edit'), edit_klass_path( @klass ), :class=>:link %> |
	<% end %>
	<%= link_to t('back'), klasses_path( :date => @klass.date ), :class=>:link %>
	| <%= t('version') %> <%= @klass.version %>
	<% if @klass.version > 1 %>
		| <%= link_to t('previous_version'), :version => @klass.version-1 %>
	<% end %>
	<% if params[:version] %>
		| <%= link_to t('latest_version'), :version => nil %>
	<% end %>
</div>
</fieldset>
